[2016-03-02 23:58] ritave opened #2 "Abillity to send slack message only on status change"
For example I'd like to have nightlies, and expect them to suceed 99% of the time, no need to spam my channel each night. But I'd like to be notified when the build fails. So I would love to have this step send message only on build status being different then the last one.

[2016-03-03 09:17] viktorbenei commented on #2
Great idea! Unfortunately this can't be done right now, as there's no Environment Variable or API to get the previous build's status - but this can be fixed ;)

Could you please create a UserVoice feature request to have this information as EnvVar? Probably it should include more than one EnvVars, to be able to get the previous build's status on the same branch, or just the absolute last build's s

[2016-03-03 09:36] ritave commented on #2
I voted and linked back to this issue from the UserVoice you posted

[2016-03-03 09:37] viktorbenei commented on #2
Thanks, I changed the title of the request to better reflect the fact that it shouldn't be just git info ;)

[2016-05-04 16:18] mleatherb opened #4 "Channel name required in integrations"
If you do not specify a channel in the step, it fails. The webhook URL contains the channel it's supposed to post to already.

* maybe make it an optional/override.

[2016-05-04 18:44] htinlinn opened #5 "Optional message."
We are using this step in a workflow to run unit tests for our app. We would like this step to run only when there was an issue with the test so that we don't flood our Slack channel with "Success!" messages. Would it be possible to skip grabbing the `message` variable if the build failed?

[2016-05-04 18:50] viktorbenei commented on #5
You can do this with a `run_if`, see: http://devcenter.bitrise.io/docs/advanced-tips-tricks-for-bitrise-cli-workflows#section-run-a-step-only-if-the-build-failed 😉

[2016-05-04 18:50] #5 closed

[2016-05-04 20:06] htinlinn commented on #5
that works. thanks!

[2016-07-11 15:36] SamuelDebruyn opened #6 "Attachments [feature request]"
It would be nice if we could send an attachment together with the message. Maybe somebody wants to send the APK directly in the message or you could generate a QR code for the install page and include that one as attachment.

[2016-07-11 15:51] viktorbenei commented on #6
Thanks for the feature request @SamuelDebruyn !

[2016-07-11 16:53] frankrod opened #7 "How to disable the unfurling option in a link?"
I'm using the Install page QR code step along with the slack message step but when I send the link to Slack, I'm seeing the QR code image but I don't want to show the image I just want to share the link without showing that image in slack.

[2016-07-11 19:17] viktorbenei commented on #7
There's no option for this right now. Feel free to create a PR if you have the time. If not, then we'll try to schedule it as soon as possible.

Thank you for the feature request!

[2016-09-09 00:10] dgranahan commented on #6
Seconded!

[2016-09-09 06:00] viktorbenei commented on #6
Anyone, feel free to send a PR with the implementation - we'll try to allocate time for this, but we have other, higher priority tasks in our list we have to finish first.

[2016-09-10 07:53] viktorbenei commented on #6
Also, if you don't have time to implement this you could still help us/someone who will implement it with information like:

- How the attachment would be constructed in terms of a Step input? What would be the input?
- Would there be multiple slots/inputs for multiple attachments?

[2016-09-10 07:54] viktorbenei commented on #7
Do you know how this could be achieved with the Slack API? Is it even possible to disable it?

[2016-09-10 08:40] viktorbenei commented on #4
Implemented in https://github.com/bitrise-io/steps-slack-message/pull/8

[2016-09-12 13:59] viktorbenei commented on #4
released in https://github.com/bitrise-io/steps-slack-message/releases/tag/2.2.0 - thanks for the feature request!

[2016-09-12 13:59] #4 closed

[2016-10-17 19:08] Almouro opened #11 "Links to gifs do not unfold"
Hi guys,

Thanks for this cool step! :D
We were using it in its 2.1.0 version and were able to send gifs on succesful/failed builds.

Unfortunately, when updating to 2.3.0, the gifs do not unfold anymore :(

See below the difference: the two first messages were sent with 2.3.0 version of the step, and the two last with version 2.1.0. A green line has also been added in the body of the message (pro

[2016-10-18 08:54] viktorbenei commented on #11
Yeah, I believe this is related to the change from raw text messages to Slack's attachment API in 2.2.0 and 2.3.0 - https://github.com/bitrise-io/steps-slack-message/releases - 2.2.0 had an option to use the raw text option, which was removed in 2.3.0

Do you know if link expansion can be enabled in Slack's attachment API? Or is it a text only option?

[2016-10-24 13:35] agonist opened #12 "Failure informations as part of the message"
As circle do :

![screen shot 2016-10-24 at 14 34 00](https://cloud.githubusercontent.com/assets/2346698/19647609/eed671f0-99f6-11e6-8366-c6b4a3aafb16.png)

it would be awesome to have some more infos in slack message about the failure. link to the build, branch, project, commit etc... Because for now you can only specify a simple message.

[2016-10-24 13:56] viktorbenei commented on #12
which you can customize and build up a message like the one you included ;)

E.g. "Failed: build $BITRISE_BUILD_NUMBER failed on branch $BITRISE_GIT_BRANCH - commit: $BITRISE_GIT_COMMIT ..."

Just click into the Slack step's message input, and click the "Insert variable" button which appears on the right side of the input. You can find all the env vars which you can use (including previous steps'

[2016-10-24 13:56] #12 closed

[2016-11-10 20:11] yas375 commented on #2
+1

We have a few people on the team. We are interested in getting Slack message in our team's channel whenever build fails and then when it becomes green again. There is no value for us in having repetitive messages that the build has passed every time someone pushes.

Thanks in advance!

[2017-01-09 10:44] kibotu commented on #7
i believe it has something to do with sending images as **attachments.thumb_url** paramenter https://api.slack.com/docs/message-attachments#putting_it_all_together

[2017-01-13 19:21] kensykora commented on #2
+1, this would be great.

[2017-01-14 12:55] viktorbenei commented on #2
Feel free to create a feature request at: https://discuss.bitrise.io/c/feature-requests , for better visibility ;)

[2017-01-14 12:57] viktorbenei commented on #2
Btw, if all you want to do is "But I'd like to be notified when the build fails." it's already possible, see: http://devcenter.bitrise.io/tips-and-tricks/disable-a-step-by-condition/#run-a-step-only-if-the-build-failed

[2017-01-30 10:34] gheine commented on #2
+1 please consider adding this!

[2017-01-30 10:57] viktorbenei commented on #2
@gheine isn't https://github.com/bitrise-io/steps-slack-message/issues/2#issuecomment-272622607 enough?

[2017-03-27 09:47] paour opened #13 "Add option to linkify #channel and @user"
When the step posts to Slack, `#channel` and `@user` aren't autolinked in the text of the message, presumably because the step [doesn't instruct Slack](https://api.slack.com/docs/message-formatting#parsing_modes) to do it.

Could you add an option to enable `link_names=1` in the Webhook request?

[2017-03-28 09:05] viktorbenei commented on #13
Great idea @paour !

Feel free to send a PR, or create a feature request at https://discuss.bitrise.io/c/feature-request to bump the priority! (we track issues here too of course, but requests at https://discuss.bitrise.io/c/feature-request with higher votes are prioritized accordingly)

[2017-05-05 15:25] simonmartyr commented on #11
Looking into Slack's documentation on attachments, could it not be achieved by adding the image_url parameter to be editable?
Example:  [example](https://api.slack.com/docs/messages/builder?msg=%7B%22attachments%22%3A%5B%7B%22fallback%22%3A%22Network%20traffic%20(kb%2Fs)%3A%20How%20does%20this%20look%3F%20%40slack-ops%20-%20Sent%20by%20Julie%20Dodd%20-%20https%3A%2F%2Fdatadog.com%2Fpath%2Fto%2Feve

[2017-05-06 09:27] viktorbenei commented on #11
That very well might work @simonmartyr - if you have the time feel free to test it & send a PR!

[2017-05-09 15:41] viktorbenei commented on #11
Thanks @simonmartyr for the PR!

Released in v2.4.0 (https://github.com/bitrise-io/steps-slack-message/releases/tag/2.4.0) - should be available on bitrise.io too, once the publish is accepted (~10-20 mins)!

[2017-05-09 15:41] #11 closed

[2017-05-15 14:30] viktorbenei commented on #6
I think this was implemented in https://github.com/bitrise-io/steps-slack-message/pull/14

Should work for QR codes too.

If something's still lacking just let us know and we'll re-open this issue!

[2017-05-15 14:30] #6 closed

[2017-05-19 11:02] rajit commented on #2
https://discuss.bitrise.io/t/check-if-last-build-failed-status-changed-e-g-only-slack-notify-if-build-failed-or-fixed/1781

This is open for more than a year. Is it any closer to being supported?

[2017-05-19 13:42] viktorbenei commented on #2
@rajit not yet, not enough attention - thanks for creating the feature request on discuss, if it gets enough votes there we'll definitely bump the priority!

[2017-06-22 13:22] noais opened #18 "Can't receive any message"
I get this log message:
`Slack message successfully sent! 🚀
|                                                                              |
+---+---------------------------------------------------------------+----------+
| ✓ | slack@2.5.0                                                   | 5.78 sec |
+---+---------------------------------------------------------------+----------+
`

but I don't r

[2017-06-22 16:07] viktorbenei commented on #18
Hi @noais ,

Can you please include the whole log of the Slack step? From the step's header to its footer

[2017-06-22 16:23] noais commented on #18
`
+------------------------------------------------------------------------------+
| (9) slack@2.5.0                                                              |
+------------------------------------------------------------------------------+
| id: slack                                                                    |
| version: 2.5.0

[2017-06-22 16:25] viktorbenei commented on #18
You should change the channel I think from `@everyone` to the name of the channel you want to send the message to, usually `#general` or `a-private-channel`

Strange that Slack accepts this web API call with the `@everyone` as the channel - if Slack would return any error this step would fail + print that.

[2017-06-22 16:25] #18 closed

[2017-06-22 16:26] viktorbenei commented on #18
Or just leave the channel input empty, in that case the message will go into the channel which you selected for the webhook on Slack

[2017-06-22 16:46] noais commented on #18
look [this](http://imgur.com/jUY9xFT) configuration, my output log still have:

[2017-06-22 17:03] viktorbenei commented on #18
Are you sure that you changed this in the workflow you run? Might be that you changed it in another workflow.

[2017-06-23 08:37] noais commented on #18
I'm sure. I verify twice, I remove the workflow and create again. I have only this workflow create so I'm sure this is the one.

[2017-06-23 08:38] viktorbenei commented on #18
Can you please send us the build's Bitrise.io url through email or the onsite chat?

[2017-06-23 08:40] noais commented on #18
yes I can, please explain me how I can do this?

[2017-06-23 08:47] viktorbenei commented on #18
If you're OK with that you can copy paste the build's URL here too (just open the build's page on bitrise.io and copy paste the URL), or send an email https://www.bitrise.io/contact

[2017-06-23 08:55] noais commented on #18
done

[2017-06-23 09:02] viktorbenei commented on #18
Checked the log, and in that build you ran the `primary` workflow, and checking the related build config (`bitrise.yml` in the editor):

[code]

So in this build (the one you sent me) this was indeed set to `@everyone`.

If you changed the config since, that will only be applied on new builds not on previously finished ones. Also make sure that if you change the config you Save the workflow/config

[2017-06-23 09:10] noais commented on #18
I remove '#general' on `Target Slack channel, group or username` the field is empty now.
After building `- channel: " @everyone"` still there.

[2017-06-23 09:35] viktorbenei commented on #18
Can you please remove it in the yml directly? Might be an editor issue. Editing the yml directly should definitely work.

[2017-06-23 09:49] noais commented on #18
Now is correct:
The Chanel is right, but still didn't work. I didn't receive the message on slack.

[2017-06-23 10:41] viktorbenei commented on #18
Can you please send the new build's url?

[2017-06-23 10:44] noais commented on #18
Done

[2017-06-23 10:53] viktorbenei opened #19 "Parse response and validate that this is an "OK" response"
E.g. wrong webhook URL which responds with 200 (example: a requestb.in which always responds with 200) but actually is not the Slack Incoming Webhook you want.

[2017-06-23 10:59] viktorbenei commented on #18
Two things:

1. Is this a private channel? If it is, I believe it have to be specified without the `#` prefix
1. More likely, I think the webhook URL you specified is wrong. You need an **Incoming WebHooks** webhook, which looks like `https://hooks.slack.com/services/X/Y/Z`. Yours look like `https://X.slack.com/messages/Y`

I believe this is most likely `#2`, not sure what kind of Slack hook URL t

[2017-06-23 11:00] viktorbenei commented on #18
About how you can register an Incoming WebHook URL on Slack please check the step's description on the UI, or here in the YML definition: https://github.com/bitrise-io/steps-slack-message/blob/master/step.yml#L4

[2017-06-23 11:15] noais commented on #18
I realise the webhook  I configure on the workflow isn't different of the yml. I change directly on the yml all my settings and works. The conclusion I had is the UI isn't writing well the yml file.
Tks for the help!

[2017-06-23 11:18] viktorbenei commented on #18
Any time ;)

P.S.: I scheduled some debugging time for myself today to try to reproduce this issue in the editor and schedule a fix if we can reproduce the behaviour

[2017-06-23 11:29] noais commented on #18
I used Safari(10.1.1) on macOS Sierra.

[2017-06-23 11:44] viktorbenei commented on #18
Hmm.. Are you sure that you did click "Save" at the top right corner @noais ?

I tried to reproduce it, with Safari (Version 10.1.1 (12603.2.4)) on macOS Sierra (10.12.5 (16F73)) but it worked for me, both on bitrise.io and from the CLI, using the Slack step, changing the webhook & channel inputs.

If you're sure you did click "Save" after changing these params in the editor, do you have any idea

[2017-06-23 11:53] noais commented on #18
I have it enable.

I verify now everything I do doesn't write on the yml file, changing workflows orders, configuration of the workflows and now you are telling me to enable support where I already have enable.

Yes I save the changes all the time (sometimes by keyboard cmd+s), is my first time trying bitrise maybe I have done something wrong but I can't help you more.

[2017-06-23 11:54] noais commented on #18
feel free to ask me all things you want 👍

[2017-06-23 11:56] viktorbenei commented on #18
We'll check it with the support account asap!

Can you try it from another browser? Does it happen there too?

[2017-06-23 12:05] noais commented on #18
I found this:
[code]
When I change something on the UI this changes are made on the slack first block (where  - message: is 'FirstBolck:'), but when I build the app the configurations use are the second block. This makes any sense to you?

[2017-06-23 12:55] viktorbenei commented on #18
That's exactly what I meant at https://github.com/bitrise-io/steps-slack-message/issues/18#issuecomment-310441646 ;)

In your config you have 2 workflows: `primary` and `deploy`. In the editor you can select which one you edit, and which one will be used for a given build is specified through the Triggers.

From this I believe the issue is that you indeed edited the `deploy` workflow in the editor

[2017-06-23 14:16] noais commented on #18
:/ ups sorry about that. Like I said It's the first time I'm trying bitrise, only now I understood well your question. Thanks for the help

[2017-06-23 14:18] viktorbenei commented on #18
Sure, no problem at all, I scheduled a discussion with the team to make this easier for new users ;)

[2017-07-27 13:28] odemolliens opened #21 "Improvement: Allow sub environnement variable in message"
That would be really great to manage environnement variable in environnement variable for the message part.

For a better explanation, imagine:

Workflow name: `123`

[code]

[code]

Actual version of the plugin display on Slack:
[code]
Instead of

[code]

[2017-07-27 13:54] viktorbenei commented on #21
@odemolliens this is more related to the Bitrise CLI than to this step, but I think for this specific case if you remove `is_expand: false` from the `SLACK_MSG_START_WORKFLOW` app env it should work.

In general, to compose dynamic env vars the recommended solution is to compose that in a Script step and expose that for subsequent steps with `envman` - docs: http://devcenter.bitrise.io/tips-and-tr

[2017-07-27 13:54] #21 closed

[2017-07-27 13:58] odemolliens commented on #21
remove `is_expand: false` works well. Thanks for this fast and complete answer.

[2017-07-27 13:58] viktorbenei commented on #21
Any time ;)

[2017-08-17 17:49] viktorbenei commented on #13
This is now implemented (https://github.com/bitrise-io/steps-slack-message/pull/22) and the latest version of the step includes this option (turned on by default).

Thanks for the feature request @paour ! :)

[2017-08-17 17:49] #13 closed

[2017-11-01 23:19] koral-- commented on #7
It is definitely possible. Just wrap a URL with backticks: `
URL is linkified but not unfurled:
Online demo: https://api.slack.com/docs/messages/builder?msg=%7B%22text%22%3A%22I%20am%20a%20test%20message%20%60https%3A%2F%2Fbitrise.io%60%22%7D

[2017-11-02 08:53] viktorbenei commented on #7
@koral-- that does work with the current version of the step too, right? It should be possible to write it like that in the message input.

[2017-11-02 14:49] koral-- commented on #7
Yep, it works. So it seems that there is no need to change anything in the step.
If one don't want unfurling, he can add backticks around a URL.

[2017-11-06 22:51] gabrieloshiro opened #25 "About adding more information to the message"
Would it be possible to make more information available on the message, such as

- commit SHA,
- branch,
- build number

?

[2017-11-07 17:31] viktorbenei commented on #25
Sure! Just click into the Message input field -> a green **Insert Variable** button appears -> click that

And choose from the available vars ;) You can of course add as many as you like.

(Related docs: http://devcenter.bitrise.io/getting-started/manage-your-bitrise-workflow/#inserting-environment-variables-into-step-inputs )

Happy Building! :)

[2017-11-07 17:31] #25 closed

[2018-01-26 10:31] mmoczkowski opened #27 "Send success and failure messages to separate channels"
The slack step is great and very flexible but I'm missing one functionality though. Most of the inputs can be defined seperately for succesful and failed builds. However, that is not true for **channel**. In other words: I want to send a message to a certain channel for succesful builds and to a different channel for failed builds.

Thanks!

[2018-01-26 11:44] viktorbenei commented on #27
Thanks for the feature request @mmoczkowski !

This seems like a great idea, feel free to send a PR, we'd be happy to review & accept it! :)

[2018-02-05 14:28] hmiyado opened #29 "Send plain text, not in attachments"
This integration is very helpful for me but I have one problem.
I would like to work together bitrise and bots in Slack.
However, this integration can have text only in attachments, so bots cannot respond to commands from bitrise.
Sending plain text, not in attachments makes very easy to do such cooperation.

[2018-02-05 14:43] viktorbenei commented on #29
Hi @hmiyado ,

That's a great idea! If you have some time feel free to send us a PR! Alternatively use a Script step and `curl` to send the slack message any way you like!

We'll also discuss this with the team but unfortunately I believe this is a bit out of scope right now for our dev team (so many things to do!!).. But PRs are definitely welcome! ;)

[2018-02-16 07:51] alorma opened #31 "Add ability to send message to different channel if build fails"
It would be cool if the step is able to send a message to #dev_channel in case the build fails, and #qa_channel if build is success

[2018-03-01 01:21] usrbowe opened #36 "Message field is required"
## Issue
If I leave field `"Text of the message to send."` empty, the Slack step fails with error:
[code]

[2018-03-02 04:20] vdubedout opened #37 "first path segment in URL cannot contain colon: trim whitespace in URL"
Hi there,
Trying to send builds do our slack but it fails with the error in the title. I have obfuscated a bit the urls but I can provide them if really needed.

Thanks for any help

INFO[23:34:00] Start installing (golang) with apt-get
INFO[23:34:00]  * [OK] Step dependency (go) installed, available.
Config:
- Debug: false
- WebhookURL:  https://hooks.slack.com/services/xxxxxxxxxxxxx/xxxxxxxxx/xx

[2018-03-02 17:52] viktorbenei commented on #37
Hi @vdubedout

Can you please provide the related bitrise.io build's URL? This seems like a configuration issue, maybe there's an extra `:` or quotation somewhere, e.g. if you configured it in yml mode maybe you added an extra char.. Would have to check the build log/config to be able to tell you for sure

[2018-03-02 18:05] viktorbenei commented on #36
Hi @usrbowe ,

The message field was always required as far as I know.

May I ask why you want to set an empty message? I'm not against it at all, just don't see a clear use case for it 🤔

[2018-03-02 19:55] vdubedout commented on #37
You can find it here
https://www.bitrise.io/build/45e68d04ccd7e603

[2018-03-02 22:23] vdubedout commented on #37
it finally goes through. I think that the spaces before and after Url was the problem. Maybe doing a trim on the url text can avoid this kind of error

[2018-03-05 09:19] usrbowe commented on #36
Hi,

so actually the only thing which would be nice, is to add `required` label, as other mandatory fields have.
Currently, I end up with not having anything useful top put there.

This is current notification we have:
![image](https://user-images.githubusercontent.com/5339061/36966892-343ca1cc-2099-11e8-91a6-8e771b9d992c.png)

[2018-03-05 17:45] viktorbenei commented on #36
So the issue is that even though the input is required, it's not marked as required on the UI/in the workflow editor, right @usrbowe ?

[2018-03-05 17:50] viktorbenei commented on #37
Glad to hear it worked!

Marked this issue with `enhancement` - if you have some time feel free to send us a PR to do the whitespace trimming! We'll try to schedule this change, but it might take some time until we get to work on it.

[2018-04-05 23:30] darkplataform opened #38 "table inside the attachment not showing button for Install Map"
Good day ,

The table inside the attachment is not showing button for Install Map, the env variable BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP was populated correctly in a previous step "Deploy to bitrise"

This is my configuration for the slack step for the  list of buttons:
![image](https://user-images.githubusercontent.com/5014699/38396365-34eff89a-38fd-11e8-89ad-1e78891818a0.png)

You probably notice

[2018-04-09 17:42] gitizenme commented on #38
👍 to see this work correctly

[2018-05-02 15:28] gcamp commented on #2
+1 here too!

[2018-05-04 15:58] viktorbenei commented on #2
Closing this thread here as there's a feature request for it - please vote & comment for it at: https://discuss.bitrise.io/t/check-if-last-build-failed-status-changed-e-g-only-slack-notify-if-build-failed-or-fixed/1781

Thank you! :)

[2018-05-04 15:58] #2 closed

[2018-06-27 00:46] bootstraponline opened #40 "hey"
- https://app.bitrise.io/build/60c59afb1ba28d0e

![image](https://user-images.githubusercontent.com/1173057/41946724-d50710ec-7981-11e8-9613-9af521c5b1de.png)
![image](https://user-images.githubusercontent.com/1173057/41946731-de832d22-7981-11e8-9f0a-5d3b8c0f314b.png)

Slack token is leaking on `version: 2.7.3` of the step.

😭

[2018-06-27 14:20] godrei commented on #40
Hi @bootstraponline ,
to be honest, in this case your webhook url appears in the slack server's response. We need to print this response for debugging. In general we have no controll over every service and tool's messages and responses, so this kind of security issue can be solved by the secret filtering feature of the bitrise cli: https://github.com/bitrise-io/bitrise/blob/master/CHANGELOG.md#rel

[2018-06-27 14:23] bootstraponline commented on #40
I think there's a better way though. On buddybuild the token is impossible to expose. The design is secure. It's even isolated from the build itself.

Bitrise is printing secrets by default for debugging. That's not good.

[2018-06-27 14:38] godrei commented on #40
Could you please share your toughts with us?

How could it be used during the build if it is isolated from the build?

Soon we will turn on secret filtering by default, other than that we will release a new version os sensitive steps, where the sensitive inputs will be marked and these inputs can hold only secret env vars, but no direct values.

[2018-06-27 14:52] bootstraponline commented on #40
I have a meeting with bitrise tomorrow, we can chat about it more then. We're using a bunch of different CI systems and I see value in understanding how they solved the issue, even if it doesn't directly translate to bitrise.

[2018-07-04 03:18] eric-grab opened #41 "How to combine channel and username?"
In case of success build, I want to send a message to channel `#abc` not tagging anyone.
However, in case of failure, I want to send a message to the same channel, tagging `@here` or `@someguy`.

I've tried all of the following with version 2.7.3:
- `@here`
- `#abc @here`
- `* channel: #abc * username: @here`
without success
![screen shot 2018-07-04 at 11 15 51 am](https://user-images.githubuserco

[2018-07-04 08:14] viktorbenei commented on #41
Team:

Issue seems to be that the related `description` in `step.yml` is not proper markdown formatted list.

https://github.com/bitrise-io/steps-slack-message/blob/bc760b7c4bc26c65e752ec0a74f80d1d01f49fda/step.yml#L58

@eric-grab it's not a combination of those value, it's only one of those - see: https://github.com/bitrise-io/steps-slack-message/blob/bc760b7c4bc26c65e752ec0a74f80d1d01f49fda/step

[2018-07-04 08:15] viktorbenei commented on #41
@eric-grab and to answer your question: `#abc` should work if it's a "public" channel - if that's how you see the channel in Slack.

`@here` won't work because there's no such channel, that's part of the message when you use Slack not part of the channel. I hope this helps, feel free to ask if you'd have any questions!

[2018-07-04 15:56] trapacska commented on #41
Hey @eric-grab !

Closing the issue as it has no problems when the channel defined correctly. However it was a good catch that the wrong formatting makes the configuration hardly understandable. I've scheduled this to be fixed. Thanks! 🚀

[2018-07-04 15:56] #41 closed

[2018-07-09 15:53] viktorbenei commented on #40
Definitely makes sense and thanks for reporting @bootstraponline !
Fix scheduled.

[2018-07-09 15:56] viktorbenei commented on #40
**Details/reproduction:**

Issue happens if the Webhook URL is not a webhook URL, e.g. above it's just the value `secret-slack-token-123` instead of a URL e.g. `https://hooks.slack.com/services/X/Y/Z`

[2018-09-05 20:04] sepperousseau opened #43 "Api PostMessage support"
Hi,

Are there any plans to support postMessage api with token?
Instead of working with a webhook. Now I need to create a webhook for every channel I want to post to. Because you can't overwrite the channel param anymore.

Friendly regards,

Seppe

[2018-09-07 11:06] bitce commented on #43
Hi @sepperousseau!

Thanks for asking this! Generally, I would recommend posting these kinds of things to our [feature-request ](https://discuss.bitrise.io/c/feature-request)board :)

As with this specific request, it's highly unlikely that this would be integrated as this method is [considered outdated by Slack](https://api.slack.com/custom-integrations/legacy-tokensl) itself unfortunately.

[2018-09-07 11:15] sepperousseau commented on #43
Well it's possible to use it with a bot token or a workspace token (https://api.slack.com/docs/token-types#bot) I added a pull request to add the support. #44

[2018-09-07 12:26] bitce commented on #43
Thanks!
You're entirely right, but keep in mind that due to the aforementioned reasons we might not implement this option into core step. That said, you can still configure this for yourself by forking the original step and replacing it with your own modified version!

[2018-09-07 12:32] sepperousseau commented on #43
@bitce

You mean the reason for the legacy tokens? Well the legacy tokens are depracted.
But the bot and workspace tokens aren't. https://api.slack.com/docs/token-types ? 🤔
Or am I missing something 😅 ?

[2018-09-07 14:31] sepperousseau commented on #43
The reason why it's handy is because you can post to any channel you want. Even can add support to post in multiple channels.
With the webhook you're limited to the channel that you configured inside the webhook.
In the step you can enter a channel as an input. But the webhook call ignores it anyway.

But I stay tuned 👍 📺

[2018-09-12 09:34] arthlimchiu opened #45 "WebhookURL: required variable is not present if building a pull request"
However, for my other branch like staging or master it works correctly.
<img width="563" alt="screen shot 2018-09-12 at 5 33 25 pm" src="https://user-images.githubusercontent.com/11973681/45416219-fd4dc880-b6b1-11e8-842c-efc02d4c374a.png">

[2018-09-12 11:01] trapacska commented on #45
Hey @arthlimchiu.

For me sounds like it can be because of the PR itself, do you have this option enabled:
![screen shot 2018-09-12 at 12 59 58 pm](https://user-images.githubusercontent.com/1564933/45420972-e1373080-b68b-11e8-93a4-5d793a13ed2f.png)
for the secret? Because it is is not turned on, then this secret won't be available in the builds started by a PR.

[2018-09-13 01:53] arthlimchiu commented on #45
@trapacska ohhhh I didn't have that turned on. My first time using Bitrise. Thanks man! 👏

[2018-10-09 04:41] nickspragg commented on #43
Hey guys. Wanted to let you know that removing the support for the Webhook you broke any existing setups which have their workflow set to use the latest. It would be good if there was a greater migration time as this has caused issues in our Build chain.

[2018-10-09 07:45] sepperousseau commented on #43
Well, this is why you shouldn't use latest in my opinion. Because latest can have breaking changes.
The new version is 3.0.0 so this is a breaking change.
You can always specify the version 2.7.4 if you want to keep the webhooks?

[2018-10-09 08:46] bitce commented on #43
Hi @nickspragg sorry for the inconvenience!

I do agree with @sepperousseau here entirely though, all of these steps are subject to change and be modified so for an efficient automated pipeline the "always latest" options might not be the best choice because of this entirely.

Furthermore, as @sepperousseau raised this - the webhook option will be deprecated and removed entirely in the future - so

[2018-10-09 12:05] KoCMoHaBTa opened #48 "Guide for integrating with API token"
Hi,

I've been using the slack step with incoming web hooks.
So far it was working properly, until the 3.0.0 release where the step requires an API token.
How can I generate an API token that i can use instead of the web hook?

[2018-10-09 12:47] bitce commented on #48
Hi @KoCMoHaBTa we're sorry for the inconvenience, we are currently working on helping this change for users with documentation. Until then:

You have to:
1) Enter your Slack Workspace in your browser
2) Select "Apps" in the bottom left
3) Select "Manage apps" in the top left
4) Select "Custom Integrations" on the left under Manage
5) Select "Bots"

That's basically it, you have to also provide a n

[2018-10-09 13:40] KoCMoHaBTa commented on #48
Hi @bitce
Thanks for the directions, but I can't see `Bots` under `Custom Integrations`
<img width="1129" alt="screenshot 2018-10-09 at 16 07 38" src="https://user-images.githubusercontent.com/1181346/46672503-47a66480-cbe0-11e8-82b3-7adbc0fb5681.png">

According to a [slack guide](https://api.slack.com/custom-integrations/bot-users) - bots, alongside with web hooks, have been deprecated and now t

[2018-10-09 14:07] bitce commented on #48
Just to clarify, you are looking at the [general legacy tokens](https://api.slack.com/custom-integrations/legacy-tokens), which you are right about, but slack also offers[ more type of tokens](https://api.slack.com/docs/token-types), which this isn't true for - although I will say that the documentation they have available has been confusing around this matter.

A correction to my previous steps:

[2018-10-09 14:19] viktorbenei commented on #48
Note: you can use `my.slack.com` as a placeholder for any team workspace url, and slack will auto-redirect it "to the right place" (the default workspace). E.g. https://yourworkspacename.slack.com/apps/A0F7YS25R-bots -> https://my.slack.com/apps/A0F7YS25R-bots

[2018-10-09 16:08] KoCMoHaBTa commented on #48
Thanks all for the help.
I was not aware that bots were actually represented as apps in slack, never created one till now :) Thanks for the clarification @bitce
Huge thanks for the guide @BirmacherAkos - i've managed to set it up and running and can confirm that it works.

[2018-10-09 16:08] #48 closed

[2018-10-09 16:11] viktorbenei commented on #43
@nickspragg we re-enabled the webhook option in 3.1.0 , sorry for the inconvenience!

[2018-10-09 16:13] viktorbenei commented on #43
@sepperousseau we checked the docs and it seems webhooks are not deprecated. Do you have a link that lists it as deprecated? The token link you included is for api tokens, not for webhook tokens, but we might have missed something 🤔

[2018-10-09 16:19] sepperousseau commented on #43
@viktorbenei Well incoming webhooks aren't deprecated. The problem is that the legacy incoming webhooks are deprecated. https://api.slack.com/custom-integrations/incoming-webhooks
These webhooks have support to add a channel parameter to the api to post to different channels.
But with the new incoming webhooks you can't add a channel param anymore.

So every incoming webhook is 'hooked' to a speci

[2018-10-10 16:28] viktorbenei commented on #43
But with the new incoming webhooks you can't add a channel param anymore.

@sepperousseau definitely see your point, all I'm saying is that until the webhooks get deprecated we should keep supporting it in the step, to not to introduce a breaking change where it's not required.

[2018-10-23 17:32] indera-shsp commented on #37
`strings.TrimSpace(url)` fixed it

[2018-12-13 12:39] lszucs commented on #41
Hi @eric-grab,

We fixed the markdown formatting issue, thanks again for bringing our attention to this. :)

[2018-12-21 19:27] agusvazquez opened #52 "Messages are not being sent"
Hello guys, I am working with bitrise and I am using this awesome step to publish messages for Slack and I did use it in the past without troubles with webhooks.

Unfortunately it is not working and I don't know why.

I have enabled debug mode and it prints a this JSON:

[code]

But if I copy that Json into the POSTMAN with the same webhook URL it works like charm, so I guess that is from your sid

[2019-01-02 10:01] bitce commented on #52
Hi @agusvazquez! Sorry to hear about the issue. Could you please include a build URL for us to take a look at as well?

[2019-01-02 12:32] agusvazquez commented on #52
Hey bitce! Thanks for your reply.

Here is the build URL.

https://app.bitrise.io/build/7b11793a3f164155

Let me know if you need anything else.

Happy new year!

[2019-01-03 15:13] onmyway133 commented on #37
I also have this problem, but for Generic File Storage, and it happens only on Pull request (feature branch -> master), not on push to master trigger

[2019-01-03 15:58] viktorbenei commented on #37
@onmyway133 could you please contact our support via email or the onsite chat on bitrise.io ? We'll definitely need more info/context to reproduce the issue you reported.

[2019-01-09 13:12] fehersanyi-bitrise commented on #52
Hy @agusvazquez!

this may be a dumb question, but are you sure that the credencials are all ok?
I meant the webhook, and it is set up correctly in slack as well?

[2019-01-09 13:21] agusvazquez commented on #52
Hi @fehersanyi-bitrise ! Yes hahaha it is everything ok.

If not it wouldnt print on the logs "Slack message successfully sent! 🚀", right?

[2019-01-09 13:36] fehersanyi-bitrise commented on #52
@agusvazquez and the setup is good in the slack side as well? because if it was an error on bitrise it would not succeed.

[2019-01-09 13:38] agusvazquez commented on #52
Yes, because when i call the same request using postman with the webhook url with the JSON body that appears on the debug screen it works like charm.

[2019-01-09 13:46] fehersanyi-bitrise commented on #52
summoning @godrei or @viktorbenei

[2019-01-11 12:15] lszucs commented on #38
Hi @darkplataform,

We released a new feature, which gives you the opportunity to format the map value using a Go template. The `BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP` variable will be populated with the output of the template.

You may provide the template in the `public_install_page_url_map_format` input.

For example, **to get nice button links in the Slack message**:

[code]

Let me know if this

[2019-01-14 13:22] usmonster commented on #27
Done in v2.7.0, no? (#33)

[2019-01-14 13:23] usmonster commented on #31
Done in v2.7.0, no? (#33)

[2019-01-14 13:30] usmonster opened #53 "Allow multiple recipients"
I would like to have my Slack notification go to multiple recipients (channels and/or users).

Can the `channel*` fields be refactored to accept *a list* of notification targets? E.g. `#build_results, $SLACK_LAST_COMMITER, @qa` (assuming `SLACK_LAST_COMMITER` is an environment variable I exported in a previous step)?

The implementation could simply to loop over this collection and send a copy of

[2019-01-14 14:01] viktorbenei commented on #27
Indeed, thanks for the heads up @usmonster !

The `channel_on_error` input ( https://github.com/bitrise-io/steps-slack-message/blob/b1e49748fb27696d0d66a8f66f04b420c36d9e4b/step.yml#L67 ) can be used for setting a separate channel in case the build fails - closing this issue.

[2019-01-14 14:01] #27 closed

[2019-01-15 12:51] fehersanyi-bitrise commented on #31
@alorma @usmonster yes, in the latest versions, there is an `If Build Failed` part where you can set up a different channel.

[2019-01-15 12:53] fehersanyi-bitrise commented on #27
@mmoczkowski   in the latest versions, there is an `If Build Failed` part where you can set up a different channel.

[2019-01-15 13:20] #31 closed

[2019-03-13 16:17] leodeleon22 commented on #52
@fehersanyi-bitrise I'm also having this issue
https://app.bitrise.io/build/6097bbf7b75e6db8

[2019-03-18 09:29] fehersanyi-bitrise commented on #52
Hy @leodeleon22

You did not provide a channel to post to, that is the issue I believe.

[2019-03-19 12:14] lszucs commented on #53
Hi @usmonster,

Thank you for the feature request, I imported it to our official Discourse instance: https://discuss.bitrise.io/t/slack-step-allow-multiple-recipients/8482.

We are moving away from handling issues (and feature requests) on GitHub, so I recommend you to vote the Discourse topic up and follow it there.

I'll leave the GitHub issue open until the request is triaged.

[2019-03-19 12:21] #53 closed

[2019-04-26 00:27] priscila225 commented on #52
Hi, i found the problem, i had the same problem and spent a lot of time to figure out. Seems we can't have both API and slack webhook on this bitrise step configuration, when i removed the API and just leave the webhook worked! Don't know if is the same problem you have but finally found it.

[2019-04-29 18:28] mhr78 commented on #52
Wow! Thank you @priscila225 you are my hero!

[2019-04-30 09:05] bitce commented on #52
Good job @priscila225! Note that this is printed out by the step too :)

[2019-04-30 13:59] priscila225 commented on #52
Hi @bitce for me this printed when both are **empty** as a error message but when I add both values, i see this message: "Both API Token and WebhookURL is provided. Using the webhook url" but this is not occuring, when i add API token and webhook url the step don't work. Maybe this is something missing to use webhook url when provide both? also don't know the reason why the API token stop to work.

[2019-04-30 15:18] bitce commented on #52
Hi @priscila225, I just gave this a try and I can confirm, thanks for bringing this to our attention! I'll let the team know :)

[2019-05-08 20:25] maxlapides opened #54 "Incorrectly reports API Token and Webhook URL are empty"
Yesterday, I realized that my Slack notifications weren't working anymore. Despite changing nothing, I started getting this error:

```Error: Both API Token and WebhookURL is empty. You need to provide one of them. If you want to use incoming webhooks provide the webhook url. I you want to use a bot to send a message provide the bot API token```

After a lot of debugging, I wasn't able to determin

[2019-05-09 06:56] fehersanyi-bitrise commented on #54
Hello there, Could you please send us your latest failing build's url so we could check out the logs for some more details? 🙃

[2019-05-09 17:21] maxlapides commented on #54
@fehersanyi-bitrise sure, can you check these out?

https://app.bitrise.io/build/fedbedd4b24c7240
https://app.bitrise.io/build/57af03817bf279d6

[2019-05-10 06:37] bitce commented on #54
Hey @maxlapides, it seems that both of these were PR builds, do you have this secret with the token enabled for PR builds?

[2019-05-10 18:00] maxlapides commented on #54
Omg 🤦‍♂️that must be it. Thanks for the help!

[2019-05-10 18:00] #54 closed

[2019-06-19 07:39] otusweb opened #56 "Notification delivered twice"
Thanks for creating this step.
In my workflow, i added this step twice. Once at the beginning of the build to indicate that the build started and once at the end to indicate the build is done.

On pull request build, every notification (start and end) are being sent twice to our channel.

I'm not even sure where to start looking for what I did wrong.
Note that on a scheduled build, that has the sa

[2019-06-19 23:48] Jakester0813 opened #57 "Messages are not being sent"
From the day that bitrise was setup with Slack, we were able to receive messages on Slack on the channel that was selected(even though the channel was private). Even yesterday the messages were being sent.

And then today when Bitrise made a build today, it failed to push to slack. This was the message that was recieved:

Error: server error: 404 Not Found, response: channel_not_found

Is there an

[2019-06-20 08:53] bitce commented on #57
Hi @Jakester0813!

Sorry to hear about the issue. Can you please include a build URL?

Really depends on how you chose to set it up, but if you're using a webhook, those are created for channels. So if the channels or group messages. So if the channel was removed or the details have changed, that could result in this.

[2019-06-21 09:16] otusweb commented on #56
Ignore me, the issue was a double web hook on github that caused the build to be triggered twice...

[2019-06-21 09:16] #56 closed

[2019-06-27 18:22] Jakester0813 commented on #57
We ended up using a public channel and that seems to fix the issue

[2019-06-27 18:22] #57 closed

[2019-07-09 15:55] leandroBorgesFerreira opened #59 "Message not sent to multiple users"
Hello folks,

I am trying to send a mensagem to more than one user, like this:

![Screenshot 2019-07-09 at 17 53 57](https://user-images.githubusercontent.com/10619102/60904037-aa618500-a272-11e9-965a-9ad70d12cbc3.png)

I also tried without the pipe and with line breaks, no luck. Is this a bug or I just don't know how to use it?

[2019-07-15 10:06] bitce commented on #59
@leandroBorgesFerreira  are you using a webhook by any chance? That has to be created for specific channels in mind and will only work for those. In case you are using a bot token, is it working for channels or not at all?

[2019-07-15 15:22] leandroBorgesFerreira commented on #59
Yes, I am using webhooks. It works for channels as long as you don't have more than one. It also works for users as long as you don't have more than one.

The problem I see is: It works for single users/channels, but it doesn't work for more than one.

Sorry for the late response!

[2019-07-16 11:38] bitce commented on #59
Could you send us examples of this happening? As this shouldn't be expected, according to the official Slack documentation [here](https://api.slack.com/incoming-webhooks), webhooks are created for specific channels and users and will only work for that channel or use it was created for.

[2019-07-22 02:41] sampsonjoliver opened #60 "Add option to post to message threads"
When the step posts to Slack, the step could export an env variable of the message `ts`.

Later in a build another step posting to Slack could specify a `thread_ts` field with the exported `ts` from the first message. Hence subsequent messages within a single build all post into a message thread with updates.

Use case would be, e.g.
1) Build checks out and compiles code, posts initial message of

[2019-07-22 11:14] BirmacherAkos commented on #40
Hi @bootstraponline ,

This issue has been fixed by the new CLI versions ( Bitrise CLI Secret filtering prevents this if the URL is set as a secret ).

I'm closing the issue, but if the issue persists for you even with the newest version of CLI please let us know.

[2019-07-22 11:14] #40 closed

[2019-10-04 13:32] gobetti opened #61 "Names not being linked?"
Hi! Not sure if I'm using this incorrectly, but my Slack step includes for example `@gobetti` in the message field, the option "linkify names" has the default value (yes) and still, the messages being posted to Slack have a plain text rather than a link to my Slack user.

This happens to any of our users so it's not a problem specific with my Slack account.
This also happens in all of the position

[2019-10-06 21:53] josinaldobarbosa opened #62 "Bug when registering only the error channel"
When registering only the error channel and leave the success channel empty, the build success is sent to the error channel.

[code]

[2019-10-16 11:24] bitce commented on #62
Hi @josinaldobarbosa! If you use a Webhook to access your Slack Workspace, this use case isn't possible because webhooks can only be created for specific channels. More on them here: https://api.slack.com/messaging/webhooks

[2019-10-16 11:54] bitce commented on #61
Hi @gobetti, thanks for the detailed report! 🙂

Can you please paste here a URL for a build which resulted in this behaviour?

[2019-10-16 19:26] gobetti commented on #61
hi @bitce , thanks for answering! I ended up finding out today after some trial and error that it works however one needs to use the Slack's username (which is a private thing to each user). Interestingly if I try to tag someone in an actual Slack message, the username doesn't work. Closing this issue :)

[2019-10-16 19:26] #61 closed

[2019-10-16 21:39] josinaldobarbosa commented on #62
I think I did not express myself well, in this case should not send to any channel since it was not placed in the same

[2019-11-04 14:53] bitce commented on #62
Hi @josinaldobarbosa,

That is not accurate, due to what I've said a few weeks earlier, can you please check out the link?

Since your webhook was created for a specific channel, both options here:
[code]

Are redundant. **A slack webhook is made specifically for one specific channel**. There is no way you can send a message to any other channel or user regardless of conditions.

These settings on

[2019-11-13 21:00] jazz-messenger commented on #62
Hi @bitce,

does this mean that I am not able to send a message to a different channel in the "build failed" case? I am asking this, because I do not see the option to define a 2nd webhook for this case anywhere.

Cheers, Jan.

[2019-12-05 16:42] josinaldobarbosa commented on #62
@bitce my webhook is for any channel, that's not the problem, it seems to me that if you don't have the channel defined it is sending in the last channel used

[2019-12-07 09:33] bitce commented on #62
Hi @jazz-messenger!

Yes, you are highly recommended to use a token instead of multiple webhooks.

@josinaldobarbosa

Are you using a legacy Slack webhook created long ago? Otherwise what you are describing doesn't seem currently possible according to the Slack documentation I also linked above.

[2019-12-07 14:01] koral-- commented on #62
@josinaldobarbosa if you just want to sent slack message only for failed builds you add `run_if: .IsBuildFailed` to your bitrise.yml
https://devcenter.bitrise.io/jp/steps-and-workflows/disable-a-step-by-condition/

[2019-12-07 14:58] josinaldobarbosa commented on #62
@bitce
I tested another field and the behavior is similar, example
[code]
if the build fails the text is sent "Success Message", this should not be sent only on successful builds?

[2019-12-07 14:59] josinaldobarbosa commented on #62
@koral-- thanks, that solves my problem

[2019-12-09 15:18] jazz-messenger commented on #62
Thanks for your reply. I am trying to figure out which of the several tokens would be the right one. Can you point me into the right direction, please?

Cheers, Jan.

[2019-12-10 09:48] bitce commented on #62
That is only true if you also have a text_on_error input set.

@jazz-messenger

Slacks more commonly refers to it as a "bot-token" by now. https://api.slack.com/bot-users

[2019-12-10 15:25] jazz-messenger commented on #62
Thanks for the clarification @bitce

It works fine with bot tokens. You should add somewhere in the description that the user needs to be invited to private channels.

[2020-03-13 02:02] josinaldobarbosa commented on #61
To be recorded: https://api.slack.com/reference/surfaces/formatting#linking_to_channels_and_users

e.g.: My text <@ID_MEMBER_OR_CHANNEL_NOT_THE_NAME> blablabla

[2020-04-05 02:59] Bawenang opened #64 "Cannot send message from one of the workflows."
Hi,
I've got 4 workflows and all of them will send to slack at the end. All works except one of them.

It always returned this error: **Error: Both API Token and WebhookURL are empty. You need to provide one of them. If you want to use incoming webhooks provide the webhook url. If you want to use a bot to send a message provide the bot API token**

When I take a look at the others, I found the set

[2020-04-05 22:50] Bawenang commented on #64
It turns out, I haven’t exposed the “$SLACK_WEBHOOK_URL” and “$SLACK_WEBHOOK_URL_IOS” secret key to pull reqs. It worked now.

Thanks.

[2020-04-05 22:50] #64 closed

[2020-04-14 22:40] tinder-kaijing opened #65 "how to include the link of first failed test in "- fields""
We want to use this slack step in our Bitrise workflow. we want to attach a link of the first failed test in "- fields: ", how can we do it?

[2020-04-29 14:20] rodrigoarias opened #67 "Error: Both API Token and WebhookURL are empty"
Hi,

It's been a time since I've been receiving this error message:

`Error: Both API Token and WebhookURL are empty. You need to provide one of them. If you want to use incoming webhooks provide the webhook url. If you want to use a bot to send a message provide the bot API token`

I do have a Webhook URL (not an API token). Even more, it does not always fails, but most of times.

Thanks!

[2020-05-18 07:54] Roland-Bak commented on #67
Hello there @rodrigoarias, my guess would be that this has to do with Secrets not being enabled for Pull requests, but in order to have a detailed look, could you please send us your latest failing build's url? 🙂

[2020-05-18 12:47] rodrigoarias commented on #67
Hi Roland, you are right, that was the problem. Luckily last Friday I was
able to solve it thanks to the chat support.

Thanks!

El lun., 18 may. 2020 a las 4:54, Roland-Bak (<notifications@github.com>)
escribió:

--

*Rodrigo Arias Roberts*
Tel. (+5411) 5263-3563

Nicaragua 4677, CABA
<https://maps.google.com/?q=Nicaragua+4677,+CABA&entry=gmail&source=g>

[2020-06-24 13:55] mertceyhan opened #68 "Question: Formatted Text"
Hi, How to share a text as a code block?

I tried triple backticks (```) into **_Text of the message to send_** section but It didn't work.
https://slack.com/intl/en-tr/help/articles/202288908-Format-your-messages

[2020-07-02 19:09] acrabb commented on #67
Hey team,

I'm receiving this same error on Bitrise when building a workflow from a Pull Request.
Building the same workflow from just a branch works just fine.

Any ideas?

Cheers

[2020-07-02 21:07] rodrigoarias commented on #67
Hi @acrabb ,
@Roland-Bak was right, this was the issue:

I'm closing the issue now.

[2020-07-02 21:07] #67 closed

[2020-12-17 17:53] dat-migdol opened #72 "Feature Request: Option to skip aborted builds"
My team would love to see an option to skip sending a message for aborted builds. As it stands, we often get put on alert when our `main` branch reports a build failed, only to look closer and see the build was actually aborted due to our rolling builds rule.

[2020-12-18 08:18] bitce commented on #72
Hi @dat-migdol,

What does your workflow setup look like? Can you share an example build URL with us so we can see it? :) Is moving the step to the back end of the workflow, so in cases like this it gets aborted before it would run not an option?

[2020-12-18 15:51] dat-migdol commented on #72
Thanks for getting back so quickly.

This step _is_ the last step in our workflows. Skipping this step altogether would skip aborts, but it would also skip general build failures which are still valuable for my team.

I'm considering adding a [run_if](https://devcenter.bitrise.io/steps-and-workflows/disable-a-step-by-condition/) expression to this slack step as a workaround, so long as I can sort

[2020-12-22 13:36] non-binary commented on #72
@dat-migdol The run_if expression is the solution in this case actually. Please let me know if you have any other questions.

[2020-12-24 17:15] soucolline opened #73 "Action buttons behave differently on build success or failure"
Hello,

I've customised the action buttons on the step to add a link to the PR but it only appears when build succeed and not during a failure. I couldn't find a setting on the step to customise the buttons in case of failure so I guess it should be working the same whether it's a success or a failure ?

My yaml code :
[code]

The result on success is good with the three buttons :
![Screenshot 202

[2021-01-04 11:18] bitce commented on #73
Hi @soucolline! Sounds like a strange behaviour. Could you include a build URL to both scenarios here, so we can take a look at the logs?

[2021-01-16 11:07] soucolline commented on #73
Hi @bitce, upon investigation I discovered that the problem was coming from a previous step that was setting the url of the PR and was not set as `Run if previous build failed` thus not setting the `View PR` button in case of a failure 😢 Everything is working fine now, i'm closing the issue 👍

[2021-01-16 11:07] #73 closed

[2021-02-12 19:24] glauberfc commented on #52
This solution worked to me. Thanks, @priscila225!

[2021-03-18 22:08] RyanNewsom commented on #38
I don't think this works anymore. When I paste in this button set-up and save, leave the yml edit tab, and come back to it, it always reformats it to this, and I'm getting 0 buttons shown.
- buttons: "${BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP}"

[2021-05-04 14:23] #29 closed

[2021-06-01 12:43] ColtonIdle opened #74 "Message still sending even though no channel name supplied"
It's sending messages on success to the channel declared in on failure. My use case is that I only want to see a slack message if the build fails and not on success. Using the latest version.

[2021-06-10 14:15] Roland-Bak commented on #74
Hey there @ColtonIdle 👋

Can you please send us the log file or the URL of the related build and also enable Support Access on the Settings tab of the app ( https://devcenter.bitrise.io/troubleshooting/enabling-bitrise-support-user/ ) so that we can take a more in-depth look? 🙂

[2021-08-09 21:08] DamienBitrise opened #75 "Whitespace not trimmed on all inputs"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 1.2.3
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2021-09-06 14:57] ofalvai commented on #37
Closing this issue, as it is already fixed by #66

[2021-09-06 14:57] #37 closed

[2021-09-06 15:03] #59 closed

[2021-09-24 13:05] josinaldobarbosa commented on #68
is \```your text```

[2021-09-24 13:06] #62 closed

[2021-09-24 13:28] #72 closed

[2021-09-24 15:02] ColtonIdle commented on #74
Still an issue. Easy to repro. Did it with a new project. /shrug

[2021-09-24 17:54] cathyharmon commented on #74
Hello,

Sorry to hear you are still having this issue.  If you could send us the build URL and enable support access (under the "Settings" tab), we would be happy to take a look!

[2021-09-25 13:44] ColtonIdle commented on #74
It's a private company repo. I unfortunately can't enable support access.

[2021-10-01 11:51] DiptoChakrabarty commented on #75
Hey can I fix this and send a PR , my plan is to use the strings package trimwhitespace function to remove the whitespaces on the c.Channel here https://github.com/bitrise-steplib/steps-slack-message/blob/d3ce902c2159b2d41aecd3b560092d1662b0970b/main.go#L77

Does this sound good?

[2021-10-01 11:52] ofalvai commented on #75
Yup, this is a good idea! Looking forward to the PR.

[2021-10-01 14:15] #75 closed

[2021-10-07 12:37] ofalvai commented on #52
@chedabob thanks for the research and pointing it out, this has indeed been fixed in #55, we just forgot to update this thread.

We can close this issue, I believe it's better to not fail the build if both inputs are provided. If the provided API token is invalid, the step would fail anyway, directing the users' attention to the logs where they can see the warning about this issue.

[2021-10-07 12:37] #52 closed

[2021-10-15 08:18] #19 closed

[2021-12-27 21:22] ColtonIdle commented on #74
Still relevant. In the meantime, if anyone else hits this error, I just send to a specific private slack group that no one sees and the messages go there to die.

Would still be nice to not send the message at all if a receiving channel isn't defined.

[2022-01-14 08:20] #68 closed

[2022-04-15 22:49] ColtonIdle commented on #74
Still persists.

[2022-05-19 14:05] ofalvai commented on #74
Hello @ColtonIdle 👋

The current behavior of this step is that it always sends a message either to `channel` or `channel_on_error`. I think what you want to achieve is not possible merely by configuring the step inputs. If you want to send a Slack message conditionally, you should [execute the entire step conditionally](https://devcenter.bitrise.io/en/steps-and-workflows/introduction-to-steps/enab

[2022-05-19 14:26] #36 closed

[2022-05-26 21:45] ColtonIdle commented on #74
Thanks for the reply. That works for me.

[2022-05-31 06:53] #74 closed